@import url(./__avatar/profile__avatar.css);
@import url(./__image/profile__image.css);
@import url(./__info/profile__info.css);
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);

.profile {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    max-width: 882px;
    /* margin-top: 35px; */
    width: 100%;
}
@media screen and (max-width: 425px) {
    .profile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* margin: 38px 0 36px 0; */
    }
}