@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
    max-width: 882px;
    box-sizing: border-box;
    width: 100%;
    margin: 45px auto 40px;
    border-bottom: 1px solid #545454;
    opacity: .7;
}

@media screen and (max-width: 375px) {
    .header {
      margin: 28px 0 38px 0;
    }
}