.card__like-button {
    margin: 0 30px 0 auto;
    /* background: ffffff; */
    background-image: url('../../../images/heart.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 18px;
    width: 20px;
}
@media screen and (max-width: 420px) {
    .card__like-button {
      margin-right: 30px;
    }
}