.root {
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  /* min-width: 300px; */
  /* margin: 45px 200px 0 200px;
  margin: 0 23px;
  padding: 0 48px; 
  width: 100%; */ 
}
@media screen and (max-width: 767px) {
    .root {
      margin: 28px 20px 0 20px;
    }
}
  
  @media screen and (max-width: 375px) {
    .root {
      margin: 28px 0 0 0;
    }
}