
.form__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0;
    max-width: 358px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .form__input {
      max-width: 200px;
      width: 100%;
      max-height: 100%;
      font-size: 12px;
      line-height: 15px;
    }
}