.form__open-image {
    border: 0;
    padding: 0;
    box-shadow: unset;
    border-radius: 0;
    background-color: unset;
    max-width: max-content;
    justify-content: center;
    align-items: left;
    /* top: 90px; */
    position: relative;
    z-index: 2;
    /* top: 50%;
    left: 50%; */
}