@import url(./__copyright/footer__copyright.css);

.footer {
    display: block;
    /* padding: 60px 0 60px 0; */
    max-width: 882px;
    /* margin: auto; */
    width: 100%;
    margin: 66px auto 60px;
}
@media screen and (max-width: 375px) {
    .footer {
      margin-bottom: 36px;
    }
}