.cards {
    max-width: 882px;
    /* margin: auto; */
    /* padding: 76px 0 0 0; */
    /* width: 100%; */
    margin: 0 auto;
}
 @media screen and (max-width: 375px) {
    .cards {
      margin: 36px 20px 20px 20px;
    }
}
.cards__grid {
    display: grid;
    /* background-color: #000000; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 21px;
    list-style: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 375px) {
    .cards__grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* margin: 36px 20px 0 20px; */
    }
}
.card {
    border-radius: 10px;  
    background-color: #ffffff;
    height: 361px;
    width: 282px;
}
@media screen and (max-width: 375px) {
    .card {
        /* width: 282px;
        height: 361px; */
        margin-bottom: 20px;
    }
  }
.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
}
@media screen and (max-width: 420px) {
    .card__image {
      width: 100%;
      /* height: 282px; */
    }
  }
.card__text {
    display: flex;
    align-items: center;
}
.card__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-left: 20px;
}
@media screen and (max-width: 375px) {
    .card__title {
      margin-left: 21px;
    }
}
.button__action-like {
    margin: 0 30px 0 auto;
    /* background: ffffff; */
    background-image: url('../../../images/heart.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 18px;
    width: 20px;
}
@media screen and (max-width: 420px) {
    .button__action_like {
      margin-right: 30px;
    }
}