@import url(./__image/card__image.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);
@import url(./__like-button/card__like-button.css);

.card {
    border-radius: 10px;  
    background-color: #ffffff;
    height: 361px;
    width: 282px;
}
@media screen and (max-width: 375px) {
    .card {
        /* width: 282px;
        height: 361px; */
        margin-bottom: 20px;
    }
}